<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.NetCTOSS.admmag.mapper_demand.AdminMapper">

	<!-- 添加查询动态SQL  cqs; -->
	<sql id="adminParam">
		<where>
			adm.adm_bo = 1 and role.role_bo = 1
			<if test="administratorBean.adminName!=null">
				and adm.adm_name like concat(#{administratorBean.adminName},'%')
			</if>
			<if test="administratorBean.loginName!=null">
				and adm.login_name like concat(#{administratorBean.loginName},'%')
			</if>
		</where>
	</sql>
	
	<resultMap type="AdministratorBean" id="adminMap">
		<id property="id" column="adm_id" />
		<result property="adminName" column="adm_name" />
		<result property="loginName" column="login_name" />
		<result property="password" column="pass_word" />
		<result property="telephone" column="adm_tel" />
		<result property="email" column="adm_eml" />
		<association property="role" javaType="com.alibaba.NetCTOSS.beans.admAndRoleBean.RoleBean">
			<id property="id" column="role_id"/>
			<result property="roleName" column="role_name" />
			<result property="type" column="role_type" />
			<collection property="powers" javaType="java.util.List">
				<id property="id" column="power_id"/>
				<result property="powerName" column="power_name" />
				<result property="describe" column="power_describe" />
			</collection>
		</association>
	</resultMap>
	
	<!-- 根据传入的参数   进行查询管理员集合  参数为管理员对象 cqs; -->
	<select id="findAllAdministratorBeansByParam" resultMap="adminMap">
		select 
		adm.adm_id,
		adm.adm_name,
		adm.pass_word,
		adm.login_name,
		adm.adm_tel,
		adm.adm_eml,
		role.role_id,
		role.role_name,
		role.role_type 
		from 
		t_adm as adm 
		left join 
		t_role as role 
		on adm.adm_role_id = role.role_id
		<include refid="adminParam"></include>
	</select>
	
	<!-- 通过管理员账号查询是否存在 -->
	<select id="findAdminByAdminLoginName" resultMap="adminMap">
			SELECT * from t_adm WHERE login_name = #{adminLoginName}
	</select>
	
	<!-- 通过管理员账号查询该管理员的角色 -->
	<select id="getRole" resultMap="com.alibaba.NetCTOSS.admmag.mapper_demand.RoleMapper.roleMap">
			SELECT * from t_role,t_adm where t_role.role_id = t_adm.adm_role_id 
			and t_adm.login_name = #{adminLoginName}
	</select>
	
	<select id="findAdministratorBeanById" resultMap="adminMap">
		select * from t_adm where adm_id = #{id}
	</select>
	
</mapper>