<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.NetCTOSS.admmag.mapper_demand.PowerMapper">
	<resultMap type="PowerBean" id="powerMap">
		<id property="id" column="power_id" />
		<result property="powerName" column="power_name" />
		<result property="describe" column="power_describe" />
		
	</resultMap>
	
	<select id="findAllPowers" resultMap="powerMap">
		SELECT power_id,power_name FROM t_power where power_bo = 1
	</select>
	
	<select id="findPowersByCondition" resultMap="powerMap">
		SELECT power_id,power_name FROM t_power 
		<where>
			<if test="powerName!=null">
				power_name like concat(#{powerName},'%')
			</if>
		</where>
	</select>
</mapper>