<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.NetCTOSS.admmag.mapper_demand.RoleMapper">
	<resultMap type="RoleBean" id="roleMap">
		<id property="id" column="role_id" />
		<result property="roleName" column="role_name" />
		<result property="type" column="role_type" />
		<result property="status" column="role_bo" />

		<collection property="powers" resultMap="powerMap">
			<id property="id" column="power_id" />
			<result property="powerName" column="power_name" />
			<result property="describe" column="power_describe" />
		</collection>
	</resultMap>

	<resultMap type="PowerBean" id="powerMap">
		<id property="id" column="power_id" />
		<result property="powerName" column="power_name" />
		<result property="describe" column="power_describe" />

	</resultMap>
	<!-- 通过角色名字去查询所有的权限 -->
	<select id="getPermissions" resultMap="powerMap">
		SELECT
		t_power.power_name
		from t_role,t_role_power,t_power
		WHERE t_role.role_id =
		t_role_power.rp_role_id
		and
		t_power.power_id=t_role_power.rp_power_id
		and
		t_role.role_name=#{roleName}
	</select>

	<!-- 查询所有的角色信息 -->
	<select id="findAllRoles" resultMap="roleMap">
		SELECT t_role.role_id,
		t_role.role_name,group_concat(t_power.power_name) from t_role LEFT
		JOIN t_role_power
		on t_role.role_id = t_role_power.rp_role_id
		LEFT JOIN
		t_power on t_power.power_id=t_role_power.rp_power_id WHERE
		t_role.role_bo = 1 GROUP BY t_role.role_name
	</select>

	<!-- 根据条件查询角色信息 -->
	<select id="findRolesByCondition" resultMap="roleMap">
		SELECT t_role.role_id,
		t_role.role_name,group_concat(t_power.power_name) as power_name from
		t_role
		LEFT JOIN t_role_power
		on t_role.role_id =
		t_role_power.rp_role_id
		LEFT
		JOIN t_power on
		t_power.power_id=t_role_power.rp_power_id
		<where>
			t_role.role_bo = 1 
			<if test="roleName!=null&amp;&amp;roleName!=''">
				and t_role.role_name like concat(#{roleName},'%')
			</if>
			<if test="permission!=null&amp;&amp;permission!=''">
				and t_power.power_name like concat(#{permission},'%')
			</if>
		</where>
			GROUP BY t_role.role_name
	</select>
</mapper>