<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.alibaba.NetCTOSS.usermag.mapper_demand.UserMapper">
		
		<resultMap type="com.alibaba.NetCTOSS.beans.userAndBusBean.UserBean" id="beanMap">
			<id property="id" column="id" javaType="int"/>
			<result property="userName" column="u_name" javaType="string"/>
			<result property="tel" column="u_tel" javaType="string"/>
			<result property="idCard" column="id_card" javaType="string"/>
			
			<result property="gender" column="u_gender" javaType="int"/>
			<result property="address" column="u_address" javaType="String"/>
			<result property="postcode" column="u_postcode" javaType="String"/>
			
			<result property="qq" column="u_qq" javaType="String"/>
			
			<result property="password" column="pass_word" javaType="string"/>
			<result property="loginName" column="login_name" javaType="string"/>
			
			<result property="bo" column="u_bo" javaType="int"/>
			
		</resultMap>
		
		
		<select id="findLikeByBean"  resultMap="beanMap">
			select id ,u_name,u_tel,id_card,u_gender ,
			u_address,u_postcode,u_qq,pass_word,u_bo
			 from t_account_day 
			<where>
				<if test="1 == 1">
				and u_bo = 1
				</if>
				
				<if test="bean.account != null">
				and u_name like CONCAT(#{bean.userName},'%') 
				</if>
				<if test="bean.name != null">
				and login_name like CONCAT(#{bean.loginName},'%')
				</if>
				
			</where>
		</select>
		
		<select id="findByBean"  resultMap="beanMap">
			select id ,u_name,u_tel,id_card,u_gender ,
			u_address,u_postcode,u_qq,pass_word,u_bo
			 from t_account_day 
			<where>
				<if test="1 == 1">
				and u_bo = 1
				</if>
				
				<if test="bean.account != null">
				and id = #{bean.id}
				</if>
				
				
			</where>
		</select>
		
		<select id="findByLoginName" resultMap="beanMap">
			select * from t_user where login_name=#{loginName}
		</select>
		
		<select id="getRole" resultMap="com.alibaba.NetCTOSS.admmag.mapper_demand.RoleMapper.roleMap">
			SELECT role_name from t_role,t_user where t_role.role_id = t_user.user_role_id 
			and t_user.login_name = #{userLoginName}			
		</select>
		
		
	</mapper>