<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jms="http://www.springframework.org/schema/jms"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
     http://www.springframework.org/schema/context    
     http://www.springframework.org/schema/context/spring-context-3.0.xsd    
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
    http://www.springframework.org/schema/jms 
    http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">  
	
	 
	<!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- ActiveMQ服务地址 -->
        <property name="brokerURL" value="tcp://localhost:61616" />
	</bean>
	<bean id="targetConnectionFactory2" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- ActiveMQ服务地址 -->
        <property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

    <!-- 
    	ActiveMQ为我们提供了一个PooledConnectionFactory，通过往里面注入一个ActiveMQConnectionFactory
    	可以用来将Connection、Session和MessageProducer池化，这样可以大大的减少我们的资源消耗。连接池
    	要依赖于 activemq-pool包  
     -->
	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" 
	destroy-method="stop">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="maxConnections" value="20" />
	</bean>
	<bean id="pooledConnectionFactory2" class="org.apache.activemq.pool.PooledConnectionFactory" 
	destroy-method="stop">
		<property name="connectionFactory" ref="targetConnectionFactory2" />
		<property name="maxConnections" value="20" />
	</bean>

	
	<!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
	
	<!-- 队列模板 -->
	<bean id="activeMqJmsTemplate" class="org.springframework.jms.core.JmsTemplate">  
	    <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->  
	    <property name="connectionFactory" ref="pooledConnectionFactory"/>  
	</bean> 
	
 <!-- 推送给客户信息   创建一个Queue-->  
    <bean id="myServiceQueue" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg>  
            <value>my.service.queue</value>  
        </constructor-arg>  
    </bean>  
    
     <!-- 推送信息 -->  
    <bean id="myPushListenerMQ" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg>  
            <value>my.service.queue</value>  
        </constructor-arg>  
    </bean>  
   
      
    <!-- 接受推送 -->  
    <bean id="myPushListenerConsumer"  
          class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
        <property name="connectionFactory" ref="pooledConnectionFactory2" />  
        <property name="destination" ref="myPushListenerMQ" />  
        <property name="messageListener" ref="myPushListener" />  
    </bean> 
  
</beans>