<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.NetCTOSS.billmag.mapper_demand.MonthAccMapper">

	<sql id="params">
		<where>
			<if test="bean.account!=null">
				account_acc like concat(#{bean.account},%)
			</if>
			<if test="bean.IDcard!=null">
				and account_IDcard = #{bean.IDcard}
			</if>
			<if test="bean.name!=null">
				and account_name like concat(#{bean.name},%)
			</if>
			<if test="bean.year>0">
				and account_year = #{bean.year}
			</if>
			<if test="bean.month>0">
				and account_month = #{bean.month}
			</if>
		</where>
	</sql>

	<resultMap type="MonthAndAccountBean" id="beanMap">
		<id property="id" column="id" javaType="int" />
		<result property="account" column="account_acc" />
		<result property="name" column="account_name" />
		<result property="year" column="account_year" />
		<result property="month" column="account_month" />
		<result property="money" column="account_money" />
		<result property="type" column="account_type" />
		<result property="status" column="account_status" />
		<result property="IDcard" column="account_IDcard" />
	</resultMap>

	
	<!-- 参数查询 -->
	<select id="findLikeMonthAndAccountBean" resultMap="beanMap">
		select 
		account_acc,
		account_name,
		account_year,
		account_month,
		account_money,
		account_type,
		account_status,
		account_IDcard 
		from t_month_account
		<include refid="params"></include>
	</select>
	
	<!-- 返回年 -->
	<select id="getYear" resultType="int">
		select distinct account_year from t_month_account
	</select>
	
	<!-- 返回月 -->
	<select id="getMonth" resultType="int">
		select distinct account_month from t_month_account
	</select>
	
	<!-- 精确查询  -->
	<select id="findByMonthAndAccountBean" resultMap="beanMap">
		select 
		account_acc,
		account_name,
		account_year,
		account_month,
		account_money,
		account_type,
		account_status,
		account_IDcard 
		from t_month_account
		<include refid="params"></include>
	</select>
	
</mapper>