<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.NetCTOSS.billmag.mapper_demand.MonthBusinessMapper">

	<sql id="params">
	<if test="bean != null">
		<where>
			<if test="bean.businessAccount!=null&amp;&amp;bean.businessAccount!=''">
				business_account like concat(#{bean.businessAccount},'%')
			</if>
			<if test="bean.server!=null&amp;&amp;bean.server!=''">
				and business_server_information = #{bean.server}
			</if>
			<if test="bean.tariff!=null&amp;&amp;bean.tariff!=''">
				and business_tariff = #{bean.tariff}
			</if>
		</where>
		</if>
	</sql>

	<resultMap type="MonthAndBusinessBean" id="beanMap">
		<id property="id" column="id" javaType="int" />
		<result property="businessAccount" column="business_account" />
		<result property="year" column="business_year" />
		<result property="month" column="business_month" />
		<result property="money" column="business_all_money" />
		<result property="tariff" column="business_tariff" />
		<result property="server" column="business_server_information" />
		<result property="nowTime" column="business_nowtime" />
		<result property="account" column="acc_acc" />
	</resultMap>
	
	
	<!-- 参数查询 -->
	<select id="findLikeMonthAndBusinessBean" resultMap="beanMap">
		select 
		business_account,
		business_year,
		business_month,
		business_all_money,
		business_tariff,
		business_server_information, 
		business_nowtime,
		acc_acc
		from t_month_business
		<include refid="params"></include>
	</select>
	<select id="findByMonthAndBusinessBean" resultMap="beanMap">
		select 
		business_account,
		business_year,
		business_month,
		business_all_money,
		business_tariff,
		business_server_information 
		from t_month_business
		<include refid="params2"></include>
	</select>
	<sql id="params2">
	<if test="bean != null">
		<where>
			<if test="bean.businessAccount!=null&amp;&amp;bean.businessAccount!=''">
				business_account = concat(#{bean.businessAccount},'%')
			</if>
			<if test="bean.server!=null&amp;&amp;bean.server!=''">
				and business_server_information = #{bean.server}
			</if>
			<if test="bean.tariff!=null&amp;&amp;bean.tariff!=''">
				and business_tariff = #{bean.tariff}
			</if>
		</where>
		</if>
	</sql>
	<select id="findByServerMothAndBusinessBean"  resultMap="beanMap">
		select 
		business_account,
		business_year,
		business_month,
		business_all_money,
		business_tariff,
		business_server_information, 
		business_nowtime,
		acc_acc
		from t_month_business where acc_acc = #{account}
	</select>
	
		<select id="findByServerMothAndBusinessBeanTariff"  resultMap="beanMap">
		select 
		business_account,
		business_year,
		business_month,
		business_all_money,
		business_tariff,
		business_server_information, 
		business_nowtime,
		acc_acc
		from t_month_business where business_tariff = #{tariff}
	</select>
	
	<select id="findByServerMothAndBusinessBeanAllTariff"  resultMap="beanMap">
		SELECT DISTINCT( business_tariff)   FROM t_month_business 
	</select>
</mapper>