<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.alibaba.NetCTOSS.billmag.mapper_demand.ServiceBusinessMapper">
		
		<resultMap type="com.alibaba.NetCTOSS.beans.billBean.AccountMonthBean" id="beanMap">
			<id property="id" column="id" javaType="int"/>
			<result property="year" column="acc_year" javaType="int"/>
			
			<result property="account" column="acc_acc" javaType="String"/>
			<result property="name" column="acc_name" javaType="String"/>
			
			<result property="busNum" column="acc_numbers" javaType="String"/>
			<result property="timeLong" column="acc_all_time" javaType="int"/>
		</resultMap>
		
		
		<select id="findServiceBusByBean"  resultMap="beanMap">
			select id ,f_os_account,f_server_id,f_start_time,f_end_timr ,f_online_time,acc_sf_moneyerver,f_tariff
			 from t_server_account 
			 where f_start_time &gt;= #{bean.f_start_time} and f_end_timr &lt; #{f_end_timr}
			
		</select>
		
	</mapper>